html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#matrix {
	border-top: 1px solid #7b7b7b;
}

#matrix > div {
    height: 10px;
    width: 10px;
    /*outline: 1px solid #939393;*/

    float: left;
}

.body-snake {
    background: url("../images/body.png") 0px 0px;
    background-size: cover;
}

.head-snake {
    background: url("../images/head.png") 0px 0px;
    background-size: cover;
}

.fruit-apple {
    background: url('../images/apple.png') 0px 0px;
    background-size: cover;
}

.fruit-banana {
    background: url('../images/banana.png') 0px 0px;
    background-size: cover;
}

.fruit-garnet {
    background: url('../images/garnet.png') 0px 0px;
    background-size: cover;
}

.fruit-mandarin {
    background: url('../images/mandarin.png') 0px 0px;
    background-size: cover;
}

.fruit-pine {
    background: url('../images/pine.png') 0px 0px;
    background-size: cover;
}

.fruit-strawberry {
    background: url('../images/strawberry.png') 0px 0px;
    background-size: cover;
}

.frame-end {
    outline: 5px solid red;
}

.push {
    height: 200px;
}


.layout {
    position: fixed;
    z-index: 98;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);

    display: none;
}


.content-search-points {
    text-align: center;
}

.output-content {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
}

.output-content > div {
    display: table;
    padding: 5px;
}

.output-content > div > span{
    padding: 5px;
    display: table-cell;
    width: 150px;
}

.hidden {
    display: none;
}

.btn-container {
    margin-bottom: 10px;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

#new-score-modal .head{
	text-align: center;
}

#new-score-modal .count-ajax {
	size: 21px;
	font-weight: bold;
}

.tools {
	font-size: 14px;
	height: 20px;
}

.tools .count {
	font-weight: bold;
}

.ui-dialog .ui-dialog-buttonpane { 
    text-align: center !important;
    padding: 5px !important;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { 
    float: none !important;
}